@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
    width: 100%;
    background: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif !important;
}

header {
    background: #0a1623;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    margin: 5px;
}

header ul li a {
    text-decoration: none;
    color: white;
}

table {
    background: white; 
    font-family: 'Red Hat Display', sans-serif !important;
    border-collapse: collapse;
    width: 90%;
}

tr {
    border: 1px solid #C1C3D1;
}
   
tr:hover td {
    background:lightgray;
}

th {
    color: white;
    background: #0a1623;
    border-bottom: 4px solid #9ea7af;
    padding: 24px;
    text-align: center;
}

td {
    background: white;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
}

#allCrypt {
    width: 90%;
    padding: 10px;
}

#coin a {
    text-decoration: none;
    color: black;
}

#container img {
    margin-right: 5px;
}

#converter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#converter div {
    margin: 10px;
}

#converter input {
    margin: 10px;
}

#dropdownSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

#item {
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
}

#price {
    text-align: right;
    padding: 10px;
} 

@media (max-device-width: 1500px) {
    #allCrypt {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (max-device-width: 1000px) {
    #allCrypt {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-device-width: 520px) {
    #allCrypt {
        grid-template-columns: 50% 50%;
    }
}