@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif !important;
}

P {
    margin: 0;
}

#allCrypt {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 90%;
    padding: 10px;
    border: 1px double gray;
}

#container {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

#item {
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
}

@media (max-device-width: 1500px) {
    #allCrypt {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (max-device-width: 1000px) {
    #allCrypt {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-device-width: 520px) {
    #allCrypt {
        grid-template-columns: 50% 50%;
    }
}