@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
    width: 100%;
    background: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif !important;
}

header {
    background: #0a1623;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 5%; 
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

header div div {
    margin-right: 10px;
}

table {
    background: white; 
    font-family: 'Red Hat Display', sans-serif !important;
    border-collapse: collapse;
    width: 90%;
}

tr {
    border: 1px solid #C1C3D1;
}
   
tr:hover td {
    background:lightgray;
}

th {
    color: white;
    background: #0a1623;
    border-bottom: 4px solid #9ea7af;
    padding: 24px;
    text-align: center;
}

td {
    background: white;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
}

#coin {
    border: none;
    display: flex;
    align-items: center;
}

#coin a {
    text-decoration: none;
    color: black;
}

#container img {
    margin-right: 5px;
}

#converter {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#converter div {
    margin: 10px;
}

#converter input {
    margin: 10px;
}

#converter .inputPlace {
    font-family: 'Red Hat Display', sans-serif !important;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

#converter .inputPlace::-ms-expand {
	display: none;
}

#converter .inputPlace:hover {
	border-color: #888;
}

#converter .inputPlace:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

#converter .inputPlace option {
	font-weight:normal;
}

#dropdownSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

#equal {
    font-size: 25px;
    font-weight: bold;
}

#mainCoinsCharts {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainCoinsCharts canvas {
    border: 1px solid lightgray;
    background: white;
}

#mainCoinsCharts p {
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: bold; 
    text-align: center;
    border: 1px solid lightgray;
    background: white;
}

#price {
    text-align: right;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switch input:checked + .slider {
    background-color: #2196F3;
}
  
.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
.switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

